
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*header*/
a:link {
    text-decoration: none;
}
#top-hypers{
    display: inline;    
    
}
li a{
    color: white;
}

div a h3{
    color: white;
    font-size: 2rem;
}

#profile {
    height: 200px;
}

header {
    display: flex; 
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    padding-left: 20px;
    padding-right: 25px;
    font-size: 48px;
}

/*Top Image*/

.title-image {
    height: 600px;
    width: 100%;
    margin-bottom: 0px;
    background-image: url("../images/topcontainer.jpg");
    background-size: cover;
    background-position: center;
}

/*Main-aboutme*/

main{
    background-color: #59a5ca;
    padding-top: 0;
    margin: 0;
}

p {
    font-size: 28px;
    margin-top: 25px;
    
    
}

.about-me{
    color: #ffffff;
    padding: 25px;
    display: flex;
}
.about-me img{
    max-height: 400px;
    margin-top: 0px;
    float: left;
    margin: 25px;
    padding-top: 0;
    
}
.about-me h2{
    float:inline-start; 
    background-image: url(../images/img_mouseover3.jpg);
    border-radius: 25px;
    border: 1px solid yellow;
    height: inherit;
    width: 100%;
    font-size: 40px;
    padding: 10px;
    
}


/*work-references*/

aside{    
    display: flex;
    padding: 25px;
    flex-flow: wrap;
    background-image: url(../images/product-banner_equity_4.png);
}

.work{
    float: inline-start;
    color: white;
    background-image: url(../images/img_mouseover3.jpg);
    border-radius: 25px;    
    border: 1px solid yellow;
    height: 100px;
    width: 100%;
    text-align: center;
    
}
.work h2{
    font-size: 40px;
    padding-top: 25px;
}

.large-box {  
    margin: 2px;
    padding: 50px;
    background-image: url(../images/container1.jpg);
    background-size: cover;         
    width: 100%;
    height: 300px;
    border: 1px solid rgb(72, 255, 0);
    border-radius: 25px;
    box-sizing: border-box;
    text-align: center;
}
.box {  
    margin: 2px;
    padding: 50px;          
    width: 49.7%;
    height: inherit;
    border: 1px solid rgb(72, 255, 0);
    border-radius: 25px;
    box-sizing: border-box;
    text-align: center;
}

/*footer*/

footer {
    clear: both;
    width: 100%;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    text-align: center;
}
footer ul{
    list-style-type: none;
}
h4{
    font-size: 28px;
    font-weight: bold;
}

#container2 {
    background-image: url(../images/container2.jpg);    
}

#container3 {
    background-image: url(../images/container3.jpg);
}

#container4 { 
    background-image: url(../images/container4.jpg);
}

#container5 {
    background-image: url(../images/container5.jpg);
}
/*Media*/

@media only screen and (max-width: 1378px) {
    .box{
        width: 49%;
    }
}
@media only screen and (max-width: 768px) {
    .box{
        width: 49%;
    }
}
@media only screen and (max-width: 450px) {
    .box{
        width: 100%;
    }
}